config BACKLIGHT_LEDS_AW99703
        tristate "Backlight LEDs aw99703"
        default n
        help
         Say Y here if you have a aw99703 compatible
         device connected.

         This driver can also be built as a module.  If so, the module
         will be called leds_aw99703.
