config BACKLIGHT_LEDS_LM3697
        tristate "Backlight LEDs lm3697"
        default n
        help
         Say Y here if you have a lm3697 compatible
         device connected.

         This driver can also be built as a module.  If so, the module
         will be called leds_lm3697.
